// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
  padding: 0 20px;
  background-color: #eee;
}

.table-list {
  background-color: #eee;
}