// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_image {
  margin:0 auto;
}

.product_title {
  margin:0 auto;
}

.product_detail {
  margin:0 auto;
}

.true {
  color: green;
  font-weight: bold;
}

.false {
  color: red;
  font-weight: bold;
}