// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.delivery-info th,
table.delivery-info th {
  display: block;
}

.thanks {
  height: 200px;
}

.product_image {
  margin: 0;
  padding: 0;
}
