// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.size {
  font-size: 2em;
}

.product {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

.product_image {
  margin: 0 auto;
}

.product_details {
  margin: 0 auto;
}