<!-- 顧客側の商品一覧画面 -->
<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 30px;">
      <h4>商品一覧</h4>
      <table class="table">
        <ul>
          <% @products.each do |product| %>
            <li>
              画像
            </li>
            <li>
              <%= product.name %>
            </li>
            <li>
              ¥<%= product.price %>
            </li>
          <% end %>
          </ul>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
