<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-1">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin"><span style="font-size: 30px">NaganoCake</span></a> 　　<!--後でLOGO画像入れます-->
      <% else %>
        <a class="navbar-brand" href="/"><span style="font-size: 30px">NaganoCake</span></a>
      <% end %>

      <nav>
        <ul class="nav navbar-nav navbar-right ml-auto bg p-4">

        <!-- 会員ログイン時 -->
        <% if customer_signed_in? %>
          <%= render 'layouts/customer_header' %>
        <% elsif admin_signed_in? %>
        <!-- adminログイン時 -->
          <%= render 'layouts/admin_header' %>
        <% else %>
        <!-- 非ログイン時 -->
          <%= render 'layouts/nologin_header' %>
        <% end %>
        </ul>
      </nav>

    </div>
  </nav>
</header>