<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>LOGO</span></a> 　　<!--後でLOGO画像入れます-->

      <nav>
        <ul class="nav navbar-nav navbar-right ml-auto bg p-4">
        <!-- 会員ログイン時 -->
        <% if customer_signed_in? %>
          <%= render 'layouts/customer_header' %>
        <% elsif admin_signed_in? %>
        <!-- adminログイン時 -->
          <%= render 'layouts/admin_header' %>
        <% else %>
        <!-- 非ログイン時 -->
          <%= render 'layouts/nologin_header' %>
        <% end %>
        </ul>
      </nav>

    </div>
  </nav>
</header>