<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "About", about_path, class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "商品一覧", products_path, class: 'text-light'%>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "新規登録", new_customer_registration_path, class: 'text-light' %>
</li>
<li style="padding: 10px; margin-bottom: 10px; margin-right: 20px; border: 1px solid #fff; border-radius: 10px;">
  <%= link_to "ログイン", new_customer_session_path, class: 'text-light' %>
</li>